header {
    width: 100%;
    height: 13rem;
    padding: 1.5rem 8rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgb(255, 255, 255);
}

.titulo-principal {
    font-size: 3.6rem;
    text-transform: uppercase;
}

.texto-principal {
    font-size: 1.5rem;
    text-align: center;
}


.top-header {
    padding: 0.3rem 0 0.6rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    flex: 1;
    visibility: hidden;
}

.menu i {
    /*boton de menu*/
    font-size: 4rem;
    cursor: pointer;

}


.logo {
    flex: 1;
    text-align: center;
}

.logo img {
    height: 4rem;
}

.atajos {
    flex: 1;
    display: flex;
    gap: 5rem;
    justify-content: end 
}

.atajos a {
    margin-left: 3rem;
}

.atajos a i {
    font-size: 2rem;
    text-align: end;
}

/*top-header nav-bar */

.nav-bar {
    margin-top: 0.5rem;
}

.nav-cerrar {
    display: none;
}

.nav-bar .nav-cerrar i {
    font-size: 3rem;

}

.nav-bar .enlaces li {
    list-style: none;

}

.nav-bar .enlaces li a {

    font-size: 1.6rem;
    text-transform: uppercase;
}

.nav-bar .enlaces {
    display: flex;
    justify-content: space-between;

}

.enlaces-bottom {
    display: none;


}

/*carrusel*/
.carrusel {
    height: calc(100dvh-(--nav));
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.carrusel-boton img {
    height: 3rem;

}

.carrusel-boton.atras {
    position: absolute;
    left: 2rem;
}

.carrusel-boton.adelante {
    position: absolute;
    right: 2rem;
}

.carrusel-producto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.carrusel-img {
    height: 90vh;
    width: 100%;
}

.carrusel-img img {
    height: 90vh;
    width: 100%;
    object-fit: cover;
}

.carrusel-texto {
    width: 70%;
    position: absolute;
    bottom: 10rem;
}

.carrusel-texto p {
    font-size: 1.6rem;

    text-align: center;
    font-weight: 500;
}

.puntos {
    display: flex;
    position: absolute;
    bottom: 3rem;
    z-index: 999;



}

.puntos p {
    font-size: 2rem;
    font-weight: 500;
    color: black;
    padding: 1.5rem;

}

/*primera seccion de el producto*/
.presentacion-producto {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;

}

.presentacion-producto img {
    height: 90vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.contenedor-informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 2rem;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 50%;
    translate: (-90%, -50%)
}

.informacion .presentacion .texto-principal {
    padding: 0% 10%;

}



/*presentacion dobleee*/
.presentacion-doble {
    width: 100%;
    height: calc(100dvh-(--nav));
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.doble {
    width: 49.5%;

}

.presentacion .texto-principal {
    width: 85%;
}

/*nosotros*/
.nosotros .texto-principal {
    width: inherit;
    font-size: 2rem;
    text-transform: uppercase;
}

.nosotros .titulo-principal {
    text-transform: uppercase;
    letter-spacing: 0.5rem;

}

.contenedor-informacion.nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    gap: 2rem;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0;
    translate: (-50%, -50%);

}

/*impermeabilizacion*/

.impermeabilizacion {
    width: 100%;
    height: 90vh;
}

.impermeabilizacion-img {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

}

.impermeabilizacion-img img {
    height: 100%;
    width: 80%;
    object-fit: cover;

}

.impermeabilizacion-img h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    position: absolute;
    display: flex;
    top: 40%;
    left: 15%;
    width: 40rem;
    text-align: center;
    translate: (-50%, -50%);
    color: black;

}

.impermeabilizacion-secciones {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.secciones {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--negro);


}

.secciones:first-child {
    border-left: none;
}

.secciones i {
    margin-bottom: 1.5rem;
    font-size: 50px;
}

/* 
sucursales */

.sucursales {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ebebeb;
}

.suc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    width: 100%;
}

.secciones-sucursales {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 3rem;
}

.sucursales__sec {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 45%;
    max-width: 1200px;
    gap: 30px;
}

.sec-sucursal {
    flex: 1 1 calc(45% - 30px);
    aspect-ratio: 1 / 1;
    min-width: 180px;
    max-width: 100%;
    position: relative;
    overflow: hidden;
}

.sec-sucursal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.titulo-sucursal {
    position: absolute;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    top: 45%;
    font-weight: 600;
    letter-spacing: 0.8rem;
    color: white;
}


/*footer*/
footer {
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3%;
}

footer ul li a {
    line-height: 4rem;
    font-weight: bold;
}

.footer-left {
    width: 30%;
}

.footer-logo {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-logo img {
    height: 5rem;
    margin-bottom: 1rem;
}

.footer-logo .logo-redes {
    display: flex;
    width: 30rem;
    padding: 1rem 5rem;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid var(--negro);
}

.logo-redes a i {
    font-size: 2.7rem;
}

.footer-right {
    text-align: end;
    width: 30%;
}

.footer-right p {
    text-align: end;
    font-weight: bold;
}

.footer-right li a {
    font-weight: normal;
}

/*tamaño de tablets---------------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 780px) {
    header {
        padding: 1.5rem 0rem;
        height: 8rem;
    }

    .top-header {
        justify-content: space-evenly;
    }

    .menu,
    .logo,
    .atajos {
        flex: inherit;
    }

    .atajos {
        gap: 2rem;
    }

    .menu i {
        visibility: visible;
    }

    .nav-bar {
        display: none;
        /* Siempre visible */
        margin-top: 1rem;
        width: 100%;
        background-color: white;
        border-top: 1px solid #ddd;
        z-index: 1000;
    }
 

    .nav-cerrar {
        z-index: 999;
        display: block;
        visibility: visible;
        position: absolute;
        top: 1rem;
        right: 4rem;
    }

    .nav-bar .nav-cerrar i {
        display: block;
        position: absolute;
        color: rgb(255, 255, 255);
    }

    .enlaces {
        top: 0;
        position: absolute;
        background-color: #2e4997;
        color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100dvh;
        padding: 2rem;
        z-index: 1000;
        gap: 15px;
    }

    .nav-bar li a {
        color: white;
        padding-left: 2rem;

    }
    .enlaces li{
        border: 1px solid beige;
        padding: 3.5dvh 0;
        text-align: left;

    }

    /*presentacion-producto*/
    .informacion .presentacion .texto-principal {
        padding: 0rem 5rem;
    }

    .nosotros .texto-principal {
        width: inherit;
        font-size: 1.6rem;
        text-transform: uppercase;
    }

    .nosotros .titulo-principal {
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        font-size: 3rem;
        text-align: center;

    }



    /*impermealizacion*/


    .impermeabilizacion-img {
        width: 100%;
        height: 50%;

    }

    .impermeabilizacion-img img {
        width: 100%;
    }

    .impermeabilizacion-img h1 {
        left: 5%;
        width: 40rem;
    }

    .impermeabilizacion-secciones {
        height: 40%;
    }

    .secciones .texto-principal {
        width: 85%;
    }

    /* 
sucursales */

    .secciones-sucursales {
        flex-wrap: wrap;
    }

    .sucursales__sec {
        gap: 20px;
    }

    .sec-sucursal {
        flex: 1 1 calc(48% - 20px);
        min-width: 200px;
    }

    /*footer*/
    footer {
        width: 100%;
        height: 35rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

    }

    .footer-left {
        /*lefttttttttttttt*/
        grid-column: 1/2;
        grid-row: 2/3;
        padding-left: 20%;
        width: inherit;

    }

    .footer-logo {
        /*logoooooooooooooo*/
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        width: inherit;
    }

    .footer-logo .logo-redes {
        display: flex;
        width: 40rem;
        padding: 1rem 7rem;
        justify-content: space-evenly;
        align-items: center;
        border-top: 2px solid var(--negro);
    }


    .footer-right {
        /*righttttttttttt*/
        text-align: end;
        grid-column: 2/3;
        grid-row: 2/3;
        padding-right: 20%;
        width: inherit;

    }

    .footer-right p {
        text-align: end;
        font-weight: bold;
    }

    .footer-right li a {
        font-weight: normal;
    }
}


/*tamaño de celulares----------------------------------------------------------------------------------------------------*/
@media (max-width: 480px) {

    header {
        height: 11rem;
    }

    .atajos {
        gap: 1rem;
    }

    .titulo-principal {
        font-size: 2.5rem;
    }

    .texto-principal {
        font-size: 1.3rem;
    }

    .top-header {
        border-bottom: 3px solid rgba(0, 0, 0, 0.123);
    }

    .carrusel-texto p {
        font-size: 1.4rem;
    }

    .atajos a {
        margin-left: 1.8rem;
    }

    .enlaces-bottom {
        display: block;
    }


    .enlaces-lineas {
        display: flex;
        justify-content: space-around;
    }

    .enlaces-bottom a {
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    .enlaces-lineas li {
        list-style: none;
    }

    .menu i {
        font-size: 3rem;
    }

    .logo img {
        height: 3rem;
    }

    .carrusel {
        margin-top: inherit;
    }

    .doble {
        width: 100%;

    }

    /*presentacion-producto*/
    .informacion .presentacion .texto-principal {
        padding: 0rem 1.5rem;

    }

    .nosotros .texto-principal {
        width: inherit;
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    .nosotros .titulo-principal {
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-size: 2rem;
        text-align: center;

    }


    /*impermealizacion*/

    .impermeabilizacion-img {
        height: 45%;
    }

    .impermeabilizacion-img h1 {
        left: 0%;
        width: 25rem;
    }

    .impermeabilizacion-secciones {
        height: 45%;
        padding: 2rem 0;
    }

    .secciones {
        width: 50%;
        border: none;
    }

    .secciones i {
        font-size: 35px;
        margin-bottom: 0.5rem;
    }

    .secciones .texto-principal {
        width: 60%;
    }

    .impermeabilizacion .sec {
        margin-top: 1.5rem;
    }



    /* 
sucursales */
    .secciones-sucursales {
        gap: 1rem;
    }

    .sec-sucursal {
        flex: 1 1 45%;
        min-width: 10rem;
    }

    .sec-sucursal .titulo-sucursal {
        font-size: 1.8rem;
        letter-spacing: 0.5rem;
    }

    /*footer*/
    .footer-logo img {
        height: 4rem;
    }

    .footer-logo i {
        font-size: 2rem;
    }

    .footer-logo .logo-redes {
        display: flex;
        width: 25rem;
        padding: 1rem 3rem;
    }

    .footer-right {
        padding-right: 2rem;
        align-self: start;
        padding-top: 10px;

    }

    .footer-right p {
        padding-bottom: 9px;
    }

    .footer-left {
        padding-left: 2rem;
        align-self: start;

    }

    .footer-right ul a {
        line-height: normal;
    }

    .footer-right ul li {
        margin-bottom: 1.8rem;
    }


}